<header class='navbar navbar-expand-md' [ngClass]='themeClasses'>
  <a class='navbar-brand clickable' routerLink='/'>
    <img *ngIf='themeManager.theme.name == "light"' class='d-inline-block align-top brand' alt='SIB Manaus'
      src='../../../assets/enterprise/logo.png' />
    <img *ngIf='themeManager.theme.name == "dark"' class='d-inline-block align-top brand' alt='SIB Manaus'
      src='../../../assets/enterprise/logo-dark.png' />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">PRINCIPAL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">IN LAB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">CONTATO</a>
      </li>
    </ul>
    <a>
      <button *ngIf='themeManager.theme.name == "light"' class='theme-button' (click)='changeTheme("dark")'>
        <img class='set-colorfontprimary' src='./../../../assets/moon-solid.svg' width='40px'>
      </button>
      <button *ngIf='themeManager.theme.name == "dark"' class='theme-button' (click)='changeTheme("light")'>
          <img class='set-colorfontprimary' src='./../../../assets/sun-solid.svg' width='40px'>
        </button>
    </a>
  </nav>
</header>
