<header class='navbar navbar-expand-md navbar-light bg-light'>
  <a class='navbar-brand clickable' routerLink='/'>
    <img class='d-inline-block align-top brand' src='../../../assets/logo.png' alt='SIB Manaus' />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">PRINCIPAL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">IN LAB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">CONTATO</a>
      </li>
    </ul>
  </nav>
</header>
