/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
}

body {
    min-height: 100vh;
}

.set-bgprimary {
    background-color: var(--bgprimary);
}

.set-colorfontprimary {
    color: var(--fontprimary);
    fill: var(--fontprimary);
}